<ul
  class="mt-5 h-full overflow-hidden flex flex-col relative container mx-auto px-6 space-y-8"
>
  <div
    class="absolute w-1 h-full bg-primary inset-0 shadow-md mx-auto left-0 right-0 z-0"
  ></div>
  @for (item of experienceList; track $index;let odd = $odd;let last = $last) {
  <div class="relative z-10 flex flex-col items-center md:block">
    <img
      [src]="item.img"
      alt=""
      class="relative md:block h-[60px] w-[60px] border-primary border-2 rounded-full p-2 my-5 bg-dark shadow-md md:mx-auto mleft-0 right-0;"
    />
    <li
      class="rounded border-2 border-primary p-4 my-5 bg-dark md:w-1/2 relative pt-2"
      [ngClass]="{
    'ml-auto': odd,
  }"
    >
      <h2 class="text-2xl">
        {{ item.title }}
      </h2>
      <p class="text-primary text-lg">{{ item.periodo }}</p>
      <p class="">{{ item.description }}</p>
    </li>
  </div>
  }
</ul>
