<div
  class="nav-container h-[60px] w-full flex justify-between text-white fixed px-6"
>
  <img src="../../../../assets/icon1.png" alt="" class="h-full" />
  <ul >
    <li class="flex">
      <a href="#home" class="h-full p-5 flex justify-center items-center">Inicio</a>
      <a href="#conocimientos" class="h-full p-5 flex justify-center items-center"
        >Conocimientos</a
      >
      <a href="#" class="h-full p-5 flex justify-center items-center"
        >Trabajos</a
      >
      <a href="#" class="h-full p-5 flex justify-center items-center"
        >Experiencia</a
      >
    </li>
  </ul>
</div>
