<div
  class="nav-container h-[60px] w-full flex justify-between text-white fixed px-6"
>
  <img src="../../../../assets/icon1.png" alt="" class="h-full" />
  <ul>
    <li class="flex">
      <a
        href="#home"
        class="h-full p-5 flex justify-center items-center hover:scale-105 hover:border-primary hover:border-b-[1px] hover:bg-primary hover:bg-opacity-15 active:scale-100"
        >Inicio</a
      >
      <a
        href="#conocimientos"
        class="h-full p-5 flex justify-center items-center hover:scale-105 hover:border-primary hover:border-b-[1px] hover:bg-primary hover:bg-opacity-15 active:scale-100"
        >Conocimientos</a
      >
      <a
        href="#"
        class="h-full p-5 flex justify-center items-center hover:scale-105 hover:border-primary hover:border-b-[1px] hover:bg-primary hover:bg-opacity-15 active:scale-100"
        >Trabajos</a
      >
      <a
        href="#"
        class="h-full p-5 flex justify-center items-center hover:scale-105 hover:border-primary hover:border-b-[1px] hover:bg-primary hover:bg-opacity-15 active:scale-100"
        >Experiencia</a
      >
    </li>
  </ul>
</div>
