<app-navbar />
<div class="h-[60px]"></div>
<section
  id="home"
  class="h-[100vh] flex flex-grow sm:flex-grow-0 flex-col sm:flex-row sm:w-full px-5 sm:px-0"
>
  <div
    class="w-full flex-grow flex flex-col items-center sm:items-start sm:justify-center justify-evenly sm:pl-8"
  >
    <h2 class="text-center text-6xl mb-3 font-semibold">
      <!-- <span>Anderson David</span> -->
      <span
        class="hover:text-primary hover:text-7xl cursor-default hover:transition-transform duration-75 hover:inline"
        >A</span
      >
      <span
        class="hover:text-primary hover:text-7xl cursor-default hover:transition-transform duration-75 hover:inline"
        >n</span
      >
      <span
        class="hover:text-primary hover:text-7xl cursor-default hover:transition-transform duration-75 hover:inline"
        >d</span
      >
      <span
        class="hover:text-primary hover:text-7xl cursor-default hover:transition-transform duration-75 hover:inline"
        >e</span
      >
      <span
        class="hover:text-primary hover:text-7xl cursor-default hover:transition-transform duration-75 hover:inline"
        >r</span
      >
      <span
        class="hover:text-primary hover:text-7xl cursor-default hover:transition-transform duration-75 hover:inline"
        >s</span
      >
      <span
        class="hover:text-primary hover:text-7xl cursor-default hover:transition-transform duration-75 hover:inline"
        >o</span
      >
      <span
        class="hover:text-primary hover:text-7xl cursor-default hover:transition-transform duration-75 hover:inline"
        >n
      </span>
      <br class="sm:hidden" />
      <span
        class="hover:text-primary hover:text-7xl cursor-default hover:transition-transform duration-75 hover:inline"
        >D</span
      >
      <span
        class="hover:text-primary hover:text-7xl cursor-default hover:transition-transform duration-75 hover:inline"
        >a</span
      >
      <span
        class="hover:text-primary hover:text-7xl cursor-default hover:transition-transform duration-75 hover:inline"
        >v</span
      >
      <span
        class="hover:text-primary hover:text-7xl cursor-default hover:transition-transform duration-75 hover:inline"
        >i</span
      >
      <span
        class="hover:text-primary hover:text-7xl cursor-default hover:transition-transform duration-75 hover:inline"
        >d</span
      >
    </h2>
    <p class="text-2xl mb-3 font-thin text-grey">Desarrollador Front-end</p>
    <p class="w-[50%] sm:w-[450px] border-b-2 border-solid border-primary"></p>
  </div>
  <div
    class="sm:w-[130px] flex flex-grow sm:flex-col sm:items-center justify-center"
  >
    <a href="https://github.com/AndersonDavi" target="_blank">
      <img
        src="assets/github.svg"
        alt="github"
        class="h-[40px] my-3 hover:scale-110 mx-5 sm:mx-0"
      />
    </a>
    <a
      href="https://www.linkedin.com/in/anderson-david-rueda-consuegra-16b32821b/"
      target="_blank"
    >
      <img
        src="assets/linkedin.svg"
        alt="github"
        class="h-[40px] my-3 hover:scale-110 mx-5 sm:mx-0"
      />
    </a>
  </div>
</section>
<section id="conocimientos" class="px-8 h-[100vh]">
  <div>
    <h2 class="text-6xl mb-3 font-semibold">Conocimientos</h2>
    <p class="text-2xl mb-3 font-thin text-grey">
      Lenguajes, frameworks y herramientas
    </p>
  </div>
  <app-skills />
</section>

<app-three />
