<app-navbar />
<div class="h-[60px]"></div>
<section id="home" class="h-[100vh] flex flex-row w-full">
  <div class="w-full flex flex-col items-start justify-center pl-8">
    <h2 class="text-6xl mb-3 font-semibold">Anderson David</h2>
    <p class="text-2xl mb-3 font-thin text-grey">Desarrollador Front-end</p>
    <p class="w-[450px] border-b-2 border-solid border-primary"></p>
  </div>
  <div class="w-[130px] flex flex-col items-center justify-center">
    <img src="../assets/github.svg" alt="github" class="h-[40px] my-3" />
    <img src="../assets/linkedin.svg" alt="github" class="h-[40px] my-3" />
  </div>
</section>
<section id="conocimientos" class="pl-8 h-[100vh]">
  <div>
    <h2 class="text-6xl mb-3 font-semibold">Conocimientos</h2>
    <p class="text-2xl mb-3 font-thin text-grey">
      Lenguajes, frameworks y herramientas
    </p>
  </div>
  <app-skills />
</section>

<app-three />
