<div
  class="border border-solid border-primary/75 hover:shadow-md hover:shadow-primary/25 active:shadow-primary/35  flex items-center gap-2 p-1 px-2 motion-preset-pop motion-duration-500 hover:scale-105 transition-transform duration-75 hover:font-bold active:duration-0 active:scale-100 cursor-pointer select-none hover:bg-primary/15 active:bg-primary/25"
>
  <img
    [src]="'/assets/skills/' + img"
    [alt]="name"
    class="size-full object-contain max-h-4"
  />
  <span class="text-sm text-nowrap">
    {{ name }}
  </span>
</div>
