<footer
  class="h-40 bg-dark bg-opacity-35 backdrop-blur-lg border-t-2 border-primary/10 flex flex-col"
>
  <div class="h-full flex justify-center items-center">
    <img
      src="assets/simbolo.svg"
      alt=""
      class="h-20 w-auto object-contain md:p-2 my-auto pl-1.5"
    />
  </div>
  <!-- <div class="h-1/2 flex justify-center items-center">
    <div class="w-full flex justify-center my-5 card-motion">
      <a href="https://github.com/AndersonDavi" target="_blank">
        <img
          src="assets/github.svg"
          alt="github"
          class="h-6 my-3 hover:scale-110 active:scale-105 mx-2"
        />
      </a>
      <a
        href="https://www.linkedin.com/in/anderson-david-rueda-consuegra-16b32821b/"
        target="_blank"
      >
        <img
          src="assets/linkedin.svg"
          alt="github"
          class="h-6 my-3 hover:scale-110 active:scale-105 mx-2"
        />
      </a>
    </div>
  </div> -->
</footer>
