<div
  class="works-container h-full w-full grid grid-cols-1 md:grid-cols-4 md:grid-rows-2"
>
  <img
    [src]="selectecWork?.image"
    alt="work"
    class="col-span-3 w-full h-[500px] border-primary border-2 object-cover object-center hover:border-[0.3rem] transition-all hover:cursor-pointer order-1 md:mt-0"
  />
  <ul
    class="col-span-1 w-full h-full flex md:flex-col gap-3 md:min-h-[400px] px-2 row-span-2 overflow-x-scroll scroll-smooth scroll md:overflow-x-hidden mb-9 md:mb-0"
  >
    @for (work of worksList; track $index) {
    <li
      class="border-primary border-2 border-opacity-25 rounded h-[150px] flex items-center justify-center p-5 transition-all active:p-4 hover:border-[3px] cursor-pointer hover:border-opacity-75 md:min-w-0 md:relative md:left-0 md:right-0 w-[150px] min-w-[150px] md:w-full"
      [ngClass]="{
        'border-opacity-90 bg-primary bg-opacity-15 border-[2px] p-[12px]':
          selectecWork?.id === work.id,
        '-left-[95%]': work.id < selectecWork!.id,
        '-right-[95%]': work.id > selectecWork!.id
      }"
      (click)="hoverItem(work)"
    >
      <img
        [src]="work.logo"
        [alt]="work.title"
        class="w-full h-full object-contain"
      />
    </li>
    }
  </ul>
  <div class="work-info flex w-full pl-6 mt-8 col-span-3 order-1 min-h-[350px]">
    <div class="work-desc w-full flex flex-col pr-6">
      <div class="w-full">
        <button
          class="text-2xl bg-primary py-1 px-8 mr-5 hover:py-2 transition-all"
          [ngClass]="{
            hidden: !selectecWork?.demoLink
          }"
        >
          DEMO
        </button>
        <button
          class="text-2xl text-primary border-primary border-2 py-1 px-8 mr-5 hover:py-2 transition-all"
          [ngClass]="{
            hidden: !selectecWork?.sourceLink
          }"
        >
          CODIGO
        </button>
      </div>
      <h2 class="text-5xl my-6">{{ selectecWork?.title }}</h2>
      <p class="text-grey">{{ selectecWork?.description }}</p>
    </div>
  </div>
</div>
